@tailwind base;
@tailwind components;
@tailwind utilities;

.Open{
    background-image: url(./assets/img/Open.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
/* .Open::before{
    content: '';
    background-color: green;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: -1;
} */